:root {
  --primary: #643CF5;
  --bg: #eeeef7;
  --text: #222;
  --border: #c7c8cc;
  --radius: 10px;
}

body {
  width: 330px;
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: system-ui, sans-serif;
  color: var(--text);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 14px 14px;
  border-bottom: 1px solid var(--border);
}

.top-logo {
  height: 40px;
}

.section {
  padding: 15px;
}

h2 {
  margin: 0 0 8px 0;
  font-size: 12px;
  color: #555;
  font-weight: 600;
}

.extract-section {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.extract-btn {
  width: 100%;
  background: var(--primary);
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 15px;
}

.extract-btn:hover {
  opacity: 0.9;
}

.loader-text {
  margin-top: 8px;
  font-size: 14px;
  color: var(--primary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-logo {
  width: 20px;
  height: 20px;
}

.item-title {
  font-size: 14px;
  font-weight: 500;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.item-btn:hover {
  opacity: 0.9;
}


/* .extract-label {
  width: 100%;
  text-align: center;
  color: #555;
  font-size: 13px;
  margin-bottom: 10px;
} */

#closeBtn{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.extract-btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

.item-btn[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}
